/***************************ABOUT-VIDEO-SEC*******************/
.about__video__sec{
	margin-top: 67px;
	background: url(../images/bg-1.jpg) no-repeat fixed top center;
	background-size:  cover;
	width: 100%;
	padding: 25px;
}
	.video__sec-content{
		background: url(../images/screen-right-frame.png) no-repeat right top,url(../images/screen-left-frame.png) left bottom no-repeat;
		text-align: center;
		h1{
			color: #fff;
			font-weight: 700;
			font-family: "AvenirNextBold";
			margin: 33px 0 0;
			display: inline-block;
			border-bottom: 7px solid #65BEE7;
			width: 90%;
			font-size: 40px;
		}
		span{
			color: #EFB185;
		}
	}
		.video__sec-block{
			width: 100%;
			height: auto;
			padding: 22px 0;
			iframe{	
				width: 100%;
				height: 100%;
			}
		}
		.video_sec-border{
			margin: 0 auto;
			width: 640px;
			height: 388px;
			border: 32px solid #000;
			border-radius: 32px;
			box-sizing:border-box;
		}
@media (max-width:768px){
	.about__video__sec{
		.container{
			width: 90%;
		}
			h1{
				font-size: 25px;
				border-bottom: 3px solid #65BEE7;;
			}
		.video_sec-border{
			margin: 0 auto;
			width: 320px;
			height: 194px;
			border: 16px solid #000;
			border-radius: 16px;
		}
	}
}
@media (max-width:320px){
	.about__video__sec{
		.container{
			width: 90%;
		}
		.video_sec-border{
			margin: 0 auto;
			width: 240px;
			height: 145.5px;
			border: 16px solid #000;
			border-radius: 16px;
		}
	}
}
